<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyleft (c) 2022. Test codes written by miriet.
  ~ 많이 보고, 많이 만들고, 많이 디버깅하자!!!
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

</beans>